*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.listing-card {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  margin: 0 auto;
  position: relative;
}

.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%; /* Each slide takes the full width of the container */
   /* Adjust spacing between slides */
  position: relative; /* Ensure relative positioning for absolute navigation buttons */
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1; /* Ensure the buttons are above the slides */
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

h3, p {
  margin: 10px 0; /* Adjust spacing between text elements */
}
